@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;500&family=Montserrat:wght@200;300&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Alexandria', sans-serif;
    background-color:#291043;
    color: #f6ebf4;
}

#navbar {
    background-color: var(--navbarColor);
    width: 133px + 50%;
    position: absolute;
    height: 100%;
    box-shadow: 1px 1px 5px black;
}

.navoption {
    color: #f6ebf4;
    display: block;
    text-align: center;
    margin: 0;
    transition: 200ms;
    padding: 10px;
    font-size: small;
    text-decoration: none;
 
}

.navoption:hover {
    background-color: var(--navbarButtonHover);
}

.active {
    background-color: var(--navbarButtonHighlight);
}