.block {
    margin-left: 133px;
    overflow: hidden;

}

#rconout {
    background-color: rgb(19, 19, 19);
    height: 400px;
    width: 620px;
    padding: 2px;
    font-family: 'Courier New', Courier, monospace;
    overflow-y:scroll;
}
::-webkit-scrollbar-track {
    background: rgb(19, 19, 19);
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(37, 37, 37);
}

#rconin {
    background-color: rgb(19, 19, 19);
    width: 602px;
    height: 25px;
    margin-top: 5px;
    transition: 50ms;
    border: none;
    padding: none;
    padding-left: 20px;

    color: rgb(205, 205, 205);
    font-family: 'Courier New', Courier, monospace;
}

#rconin:hover {
    background-color: rgb(22, 22, 22);
}

.rcontext {
    margin:10px;
    font-size: medium;
}